language: node_js
node_js:
- 8.9.1
sudo: false
install:
- npm install
deploy:
  provider: npm
  email: ahmad.arif019@gmail.com
  api_key:
    secure: OeKzYT9hIBE0BLk8yDQRLuZ1wJRQuyt/WLcGqi3ln6hE9amv19R8iMjyIff5VVyURGhFAX5pJBdLSDGTj7dlei3TW6B/+4YwJEDENIJB7UOHD86SedvsvVeUDEn/dCmTKoh6gchIoRPVXa4+B1U+mjZA7Qmct+pxgW1oiDetdOgQ0cyXerVeQkHKhhoinyKJfcz3KxYyDAmFJS28YfncKjltesjbZCkXmmVB70KaEQudLw/fKaJRq2CFQALLWqyqKZZ24StB/sqXqrm3gdTfgi43M/dL6Q4Ks3W7mppEZpnhTbUKKIZ4x8n3ID/EXusMqqt+6gcjv1KvLvU7530Q4ZXRs3AyFUUVaPRDr15q7nIHBtWfpHQSuHw9uhaWbInQqgR1+BJ3skClS2e1+GUUQWirn9oxa+EHCjKjBnYTmRe9CKOlPoJhnPvgintFMokHmwjRH5TUrOs/82IhPYpIws9XN5mBUrDY77eEDc62kYaFfuAm31Q1O1pZXYggn+HQptrpDp2Ms1Nza3xPb8ObZlXhaX0vz7v70C3JgtJ2NFivbsRFqEYBNasctSKVq9TX8BAET5XDrIa9B5WvzWVlOR8XwyHjU6CKZhvGtQd85hJss4i1sADNXEe1nQhxsxtj4BhYmG5ArJwTk6aBXLa7GqRFJh+53Pk1bXdv131sELQ=
  on:
    tags: true
    repo: ahmadarif/adonis-swagger